/* This file is for your main application css. */

.app-name{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #494652;
  h1{
    line-height: 80vh;
    font-size: 96px;
  }
  .orange{
    color: #F4515A;
  }
}
